# Git Mailmap - Maps old email addresses to current ones
# This file changes how emails are displayed in git log and on GitHub
# See: https://git-scm.com/docs/gitmailmap

moag1000 <michael@banda-dismar.de> <michael.banda@cancom.de>
