{% extends 'base.html.twig' %}
{% import '_components/_fa_page_header.html.twig' as _fa_page_header %}

{% block title %}{{ 'audit_finding.page.edit'|trans({}, 'audits') }}: {{ finding.title }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    {{ _fa_page_header.render({
        title: ('audit_finding.page.edit'|trans({}, 'audits')) ~ ': ' ~ finding.title,
        badge: { icon: 'pencil', label: '' }
    }) }}
    {% embed '_components/_card.html.twig' %}
        {% block card_body %}
            {% include 'audit_finding/_form.html.twig' with {form: form} %}
        {% endblock %}
    {% endembed %}
</div>
{% endblock %}
