{% extends 'base.html.twig' %}

{% block title %}{{ 'audit_finding.page.new'|trans({}, 'audits') }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <h1 class="h3 mb-4">{{ 'audit_finding.page.new'|trans({}, 'audits') }}</h1>
    {% embed '_components/_card.html.twig' %}
        {% block card_body %}
            {% include 'audit_finding/_form.html.twig' with {form: form} %}
        {% endblock %}
    {% endembed %}
</div>
{% endblock %}
