{#
 # Policy Style form — tab: content
 # Fields: policyDocFooterText
 # Included inside fa-tabs body.
 #}
{% trans_default_domain 'admin' %}
<div class="row g-3">
    <div class="col-12">{{ form_row(form.policyDocFooterText) }}</div>
</div>
