<form method="post" action="{{ path('app_asset_delete', {id: asset.id}) }}"
      data-controller="ui-actions"
      data-action="submit->ui-actions#confirm"
      data-ui-actions-message-param="{{ 'asset.confirm.delete'|trans({}, 'asset') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ asset.id) }}">
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash" aria-hidden="true"></i>
        {{ 'common.delete'|trans({}, 'messages') }}
    </button>
</form>
