{% extends 'base.html.twig' %}

{% block title %}{{ 'asset.new'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
{# Breadcrumb Navigation #}
{% include '_components/_breadcrumb.html.twig' with {
    breadcrumbs: [
        { label: 'nav.assets'|trans, url: path('app_asset_index'), icon: 'bi-cpu' },
        { label: 'asset.new'|trans }
    ]
} %}

{# Page Header #}
{% include '_components/_page_header.html.twig' with {
    title: 'asset.new'|trans,
    icon: 'bi-plus-circle',
    actions: [
        { label: 'common.back'|trans, url: path('app_asset_index'), variant: 'secondary', icon: 'bi-arrow-left' }
    ]
} %}

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
            {% include 'asset/_form.html.twig' with {
                'button_label': 'asset.create'|trans,
                'button_icon': 'bi-save'
            } %}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
