{% extends 'base.html.twig' %}
{% trans_default_domain 'activity_feed' %}

{% block title %}{{ 'title'|trans }} - {{ 'app.title'|trans({}, 'messages') }}{% endblock %}

{% import '_components/_fa_page_header.html.twig' as _fa_page_header %}

{% block body %}
<main class="fa-aurora-surface">
    {{ _fa_page_header.render({
        badge:    { icon: 'activity', label: 'badge'|trans },
        title:    'title'|trans,
        subtitle: 'subtitle'|trans,
        actions: [
            { label: 'action.standard_dashboard'|trans, variant: 'ghost', icon: 'house', href: path('app_dashboard') }
        ]
    }) }}

    {% include '_components/_activity_feed_widget.html.twig' with { items: items, max: 50 } %}
</main>
{% endblock %}
