{#
 # Tenant Compliance Settings — tab: contact
 # Fields: dpoContactName, dpoContactEmail
 #}
{% trans_default_domain 'admin' %}
<div class="row g-3">
    <div class="col-md-6">{{ form_row(form.dpoContactName) }}</div>
    <div class="col-md-6">{{ form_row(form.dpoContactEmail) }}</div>
</div>
