{% extends 'base.html.twig' %}
{% trans_default_domain 'planning' %}
{% import '_components/_fa_page_header.html.twig' as _fa_page_header %}

{% block title %}{{ 'planning.team.title.create'|trans({}, 'planning') }} - Little ISMS Helper{% endblock %}

{% block body %}
<div class="container">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'nav.planning'|trans({}, 'nav'), url: path('app_planning_team_index') },
            { label: 'planning.team.title.create'|trans({}, 'planning') }
        ]
    } %}

    {{ _fa_page_header.render({
        title: 'planning.team.title.create'|trans({}, 'planning'),
        badge: { icon: 'plus', label: '' },
        actions: [
            { label: 'common.back_to_list'|trans({}, 'messages'), href: path('app_planning_team_index'), variant: 'ghost', icon: 'util-arrow-left' }
        ]
    }) }}

    {{ form_start(form) }}
    {% include '_components/_auto_form.html.twig' with {
        'form': form,
        'actions': {
            'close': { 'label': 'common.cancel'|trans({}, 'messages'), 'variant': 'ghost' },
            'submit': { 'label': 'common.create'|trans({}, 'messages'), 'variant': 'primary' }
        }
    } %}
    {{ form_end(form) }}
</div>
{% endblock %}
