# ENX-licensed workbooks — not committed (large + copyright-protected)
# Download for integration tests via:
#   curl -sL https://portal.enx.com/isa6-en.xlsx -o tests/fixtures/vda_isa_6_en_official.xlsx
#   curl -sL https://portal.enx.com/isa6-de.xlsx  -o tests/fixtures/vda_isa_6_de_official.xlsx
vda_isa_6_en_official.xlsx
vda_isa_6_de_official.xlsx
