{% extends 'base.html.twig' %}
{% trans_default_domain 'documents' %}

{% block title %}{{ 'document.new'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
{# Breadcrumb Navigation #}
{% include '_components/_breadcrumb.html.twig' with {
    breadcrumbs: [
        { label: 'nav.documents'|trans({}, 'nav', 'nav'), url: path('app_document_index'), icon: 'bi-file-earmark-text' },
        { label: 'document.new'|trans }
    ]
} %}

{# Page Header #}
{% include '_components/_page_header.html.twig' with {
    title: 'document.new'|trans,
    icon: 'bi-plus-circle',
    actions: [
        { label: 'common.back'|trans({}, 'messages'), url: path('app_document_index'), variant: 'secondary', icon: 'bi-arrow-left' }
    ]
} %}

<div class="card">
    <div class="card-body">
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {% include 'document/_form.html.twig' with {
                'button_label': 'document.action.upload'|trans,
                'button_icon': 'bi-upload',
                'is_edit_mode': false
            } %}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
