{% extends 'base.html.twig' %}
{% import '_components/_fa_page_header.html.twig' as _fa_page_header %}

{% block title %}{{ 'prototype_protection.page.new_title'|trans({}, 'prototype_protection') }}{% endblock %}

{% block body %}
<div class="container">
    {% include '_components/_breadcrumb.html.twig' with {
        breadcrumbs: [
            { label: 'prototype_protection.page.index_title'|trans({}, 'prototype_protection'), url: path('app_prototype_protection_index') },
            { label: 'prototype_protection.action.new'|trans({}, 'prototype_protection') }
        ]
    } %}

    {{ _fa_page_header.render({
        title: 'prototype_protection.page.new_title'|trans({}, 'prototype_protection'),
        badge: { icon: 'plus', label: '' }
    }) }}

    {% embed '_components/_card.html.twig' %}
        {% block card_body %}
            {% include 'prototype_protection/_form.html.twig' %}
        {% endblock %}
    {% endembed %}
</div>
{% endblock %}
